{% extends 'base.html' %} {% block title %}Clients{% endblock %} {% load static %} {% block template %}
<!-- section header start -->
<!-- section header end -->
<!-- client section start -->
<div class="clients_section layout_padding">
  <div class="container">
    <h1 class="client_text"><strong>WHAT IS SAY CLIENTS</strong></h1>
    <p class="client_long_text">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at
      its layout. The point of using Lorem Ipsum
    </p>
    <div class="clients_section_2">
      <div id="my_carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
          <li data-target="#my_carousel" data-slide-to="1"></li>
          <li data-target="#my_carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-sm-12 col-lg-2">
                <div class="client_img"><img src="{% static 'images/client-img.png' %}" /></div>
                <h2 class="henrry_text">Henrry Jo</h2>
                <p class="henrry_taital">(long established)</p>
              </div>
              <div class="col-sm-12 col-lg-10">
                <div class="img_5"><img src="{% static 'images/img-6.png' %}" /></div>
                <p class="client_lorem_text">
                  It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed to using 'Content here, content here', making it look
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm-12 col-lg-2">
                <div class="client_img"><img src="{% static 'images/client-img.png' %}" /></div>
                <h2 class="henrry_text">Henrry Jo</h2>
                <p class="henrry_taital">(long established)</p>
              </div>
              <div class="col-sm-12 col-lg-10">
                <div class="img_5"><img src="{% static 'images/img-6.png' %}" /></div>
                <p class="client_lorem_text">
                  It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed to using 'Content here, content here', making it look
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm-12 col-lg-2">
                <div class="client_img"><img src="{% static 'images/client-img.png' %}" /></div>
                <h2 class="henrry_text">Henrry Jo</h2>
                <p class="henrry_taital">(long established)</p>
              </div>
              <div class="col-sm-12 col-lg-10">
                <div class="img_5"><img src="{% static 'images/img-6.png' %}" /></div>
                <p class="client_lorem_text">
                  It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed to using 'Content here, content here', making it look
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- client section end -->
<!-- footer section start -->
<div class="footer_section layout_padding">
  <div class="footer_section_2">
    <div class="container">
      <h2 class="addres_text">Addres</h2>
      <div class="row map_addres">
        <div class="col-sm-12 col-lg-4">
          <div class="map_text">
            <img src="{% static 'images/map-icon.png' %}" /><span class="map_icon">No.123 Chalingt Gates, Supper market New York</span>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="map_text">
            <img src="{% static 'images/phone-icon.png' %}" /><span class="map_icon">( +880 17100000 )</span>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="map_text"><img src="{% static 'images/email-icon.png' %}" /><span class="map_icon">demo@gmail.com</span></div>
        </div>
      </div>
      <div class="social_icon">
        <ul>
          <li>
            <a href="#"><img src="{% static 'images/fb-icon.png' %}" /></a>
          </li>
          <li>
            <a href="#"><img src="{% static 'images/twitter-icon.png' %}" /></a>
          </li>
          <li>
            <a href="#"><img src="{% static 'images/in-icon.png' %}" /></a>
          </li>
          <li>
            <a href="#"><img src="{% static 'images/instagram-icon.png' %}" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
